# SQL Notebook Querys

## Vamos a trabajar con AdventureWorks

In [7]:
USE AdventureWorks2017
GO

## Listando esquemas y tablas de la base de datos

In [ ]:
SELECT * 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE='BASE TABLE'
ORDER BY TABLE_SCHEMA
GO

## Asignando alias a las tablas (AS)

Listar el nombre y el n√∫mero de producto de la tabla Product

In [9]:
SELECT P.Name, P.ProductNumber
FROM Production.Product AS P
GO